APP_ENV=development

DB_PASSWORD=change_me_before_use
SECRET_KEY=change_me_before_use_min_32_chars

SONAR_HOST_URL=http://localhost:9000
SONAR_TOKEN=your_sonarqube_token_here

CI_REGISTRY=registry.gitlab.com
CI_REGISTRY_USER=your_username
CI_REGISTRY_PASSWORD=your_registry_token
