
.env
*.env
.env.local
*.pem
*.key

__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

.coverage
coverage.xml
htmlcov/
.pytest_cache/

trivy-full-report.json
gitleaks-report.sarif
hadolint-results.json

*.tar
*.tar.gz
image.tar.gz

.sonar/
.scannerwork/

.idea/
.vscode/
*.swp
